{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base/legacy"
  ],
  "rules": {
    "no-console": "off",
    "lines-between-class-members": "off"
  },
  "globals": {
    "NodeJS": true
  }
}