proxyListeningPort: 80
proxyHosts:
  - domain: handbrake.yourdomain.io
    containerName: handbrake
    proxyHost: localhost
    proxyPort: 5800
    timeoutSeconds: 15
    stopOnTimeoutIfCpuUsageBelow: 50
  - domain: wordpress.yourdomain.io
    containerName: 
      - wordpress
      - mariadb
    proxyHost: wordpress
    proxyPort: 3000
    timeoutSeconds: 1800